# Python-specific
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
*.egg

# Virtual environments
venv/
env/
*.venv

# Flask and development
*.log
*.pid
instance/

# Docker
*.dockerignore
docker-compose.override.yml
*.bak
mongo-data/  # If you add a volume in docker-compose.yml

# VS Code
.vscode/

# OS-specific
Thumbs.db  # Windows

